@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body,
html,
#root {
  width: 100%;
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

@theme {
  --color-var-blue: #3b82f6;
  --color-var-black-transparent: rgba(0, 0, 0, 0.799);
  --color-var-white-transparent: rgba(255, 255, 255, 0.8);
}
.myContainer {
  width: 80%;
  margin: auto;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
